
@{
    ViewBag.Title = "Index";
}

<div class="card-box" style="margin-top:15px;">
    <h2>Projeler</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Edoksis E-Fatura</h4>
        <img src="~/Content/img/efatura.JPG" style="width:100%;height:150px;box-shadow:0 2px 3px #6d6d6d;" />
    </div>
    <div class="col-md-4">
        <h4>Edoksis E-Defter</h4>
        <img src="~/Content/img/edefter.JPG" style="width:100%;height:150px;box-shadow:0 2px 3px #6d6d6d;" />
    </div>
    <div class="col-md-4">
        <h4>EW Club Card</h4>
        <img src="~/Content/img/ewclub.JPG" style="width:100%;height:150px;box-shadow:0 2px 3px #6d6d6d;" />
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-4">
        <h4>Atik Yazarkasa</h4>
        <img src="~/Content/img/atikkasa.JPG" style="width:100%;height:150px;box-shadow:0 2px 3px #6d6d6d;" />
    </div>
    <div class="col-md-4">
        <h4>Interpay Bayi</h4>
        <img src="~/Content/img/interpay.JPG" style="width:100%;height:150px;box-shadow:0 2px 3px #6d6d6d;" />
    </div>
    <div class="col-md-4">
        <h4>Kordsa Taks+</h4>
        <img src="~/Content/img/taks.JPG" style="width:100%;height:150px;box-shadow:0 2px 3px #6d6d6d;" />
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-4">
        <h4>Altas ERP</h4>
        <img src="~/Content/img/altas.JPG" style="width:100%;height:150px;box-shadow:0 2px 3px #6d6d6d;" />
    </div>
    <div class="col-md-4">
        <h4>Carmen WEB</h4>
        <img src="~/Content/img/carmenweb.JPG" style="width:100%;height:150px;box-shadow:0 2px 3px #6d6d6d;" />
    </div>
    <div class="col-md-4">
        <h4>Altas WEB</h4>
        <img src="~/Content/img/altasweb.JPG" style="width:100%;height:150px;box-shadow:0 2px 3px #6d6d6d;" />
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-4">
        <h4>Carmen Satış</h4>
        <img src="~/Content/img/carmensatis.JPG" style="width:100%;height:150px;box-shadow:0 2px 3px #6d6d6d;" />
    </div>
    <div class="col-md-4">
        <h4>EW Portal</h4>
        <img src="~/Content/img/ewportal.JPG" style="width:100%;height:150px;box-shadow:0 2px 3px #6d6d6d;" />
    </div>
    <div class="col-md-4">
        <h4>Yünsa Customer Portal</h4>
        <img src="~/Content/img/yunsa.jpg" style="width:100%;height:150px;box-shadow:0 2px 3px #6d6d6d;" />
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-md-4">
        <h4>Özer Kaya Blog</h4>
        <img src="~/Content/img/blog.JPG" style="width:100%;height:150px;box-shadow:0 2px 3px #6d6d6d;" />
    </div>
</div>
