@{
    ViewBag.Title = "Index";
}

    <h2>Hakkımda</h2>

    <p><img alt="" src="http://ozerkaya.info/Content/img/ozer.jpg" style="float:left; height:296px; width:248px" /></p>

    <p>1984 Yılında Sakaryada doğdum. İlk ve Orta &ouml;ğrenimimi Sakarya da tamamladım. Lise eğitimimin 2 yılını Sakarya Anadolu Ticaret meslek lisesinde , Son 2 yılını K&uuml;tahya Anadolu Ticaret meslek Lisesinde tamamladım.</p>

    <p>Kocaeli &Uuml;niversitesi Kocaeli Meslek Y&uuml;ksek Okulunda Bilgisayar Teknolojileri B&ouml;l&uuml;m&uuml;nde &Ouml;n lisans yaptım, ardından Girne Amerikan &Uuml;niversitesi Y&ouml;netim Bilişim Sistemleri B&ouml;l&uuml;m&uuml;nde Lisans Eğitimimi tamamladım.</p>

    <p>Kuzey Kıbrısta Comaks Acedemy de bir &ccedil;ok ticari ve end&uuml;striyel yazılım geliştirme s&uuml;re&ccedil;lerinde bulundum. Eğitimimi tamamlamamın ardından Gebzede Altaş Aluminium Firmasında ERP ve IT Sorumlusu olarak g&ouml;rev aldım. Bu s&uuml;re zarfından şirketin ERP yazılımını baştan uca tasarlayarak geliştirdim.</p>

    <p>2013 yılında Sabancı Holding b&uuml;nyesinde bulunan Bimsa Firmasında &ccedil;alışmaya başladım halen bu g&ouml;revime devam ediyorum.</p>

    <p>Yazılım macerama Delphi ve Visual Basic ile başladım. Şuan Full Stack .NET developer olarak devam ediyorum. Hobi olarak Robotic programlama ile ilgileniyorum. Bimsa b&uuml;nyesinde; E-fatura , E-Defter , Kordsa Taks+ , Y&uuml;nsa Customer Portal , Akbank Domino Projelerinde halen aktif kod yazıyorum.</p>

    <p>Almanya , Danimarka , Slovakya ve T&uuml;rkiye &lsquo;de Wonderware eğitimlerine katıldım. Kordsa Taks+ Projesinin canlıya alınması ve key user eğitimlerinin verilmesi i&ccedil;in &nbsp;bir s&uuml;re Amerikada bulundum.</p>

    <p>2014 yılında Eşim &Ccedil;iğdem KAYA ile evlenerek yeni bir projeye start verdim :)</p>

    <p>İ&ccedil;inde bulunduğunuz bloğu yeni &ouml;ğrendiğim teknolojileri uygulamak i&ccedil;in ve bir nebze olsun birilerine fayda sağlayabilmek i&ccedil;in kullanıyorum. Bu Bloğun tüm open source kodlarını GitHub hesabımdan elde edebilirsiniz.</p>
