@model OzerBlog.Models.PostView

@{
    ViewBag.Title = "Posts";
}


<style>
    table {
        width: 100%;
    }

    td {
        vertical-align: top;
    }

    input {
        width: 100%;
    }
</style>
<html ng-app="myPosts">
<body>

    <table style="margin-top:30px" ng-controller="PostController">
        <tr>
            <td style="width:20%;">
                @Html.Partial("~/Views/Admin/_Menu.cshtml")
            </td>
            <td>
                <div class="panel panel-primary" style="margin-left:10px">
                    <div class="list-group">
                        <a class="list-group-item active">Yazılarım</a>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tr>
                                <td>
                                    <input ng-model="postID" hidden/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>* Yazı Başlığı</h5>
                                    <input ng-model="postTitle" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>* Yazı İçeriği</h5>

                                    <div text-angular ng-model="postContet">

                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td style="float:right">
                                    <input ng-click="saveEditPost(postID,postTitle,postContet)" type="submit" value="Kaydet" style="width:150px;margin-top:10px" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="list-group" style="margin-left:10px">

                    <table>
                        <tr ng-repeat="post in postList">
                            <td style="width:10%">
                                <button ng-click="editPostTake(post.ID);" class="list-group-item">Düzenle</button>
                            </td>
                            <td style="width:10%">
                                <button ng-click="deletePost(post.ID);" class="list-group-item">Sil</button>
                            </td>
                            <td style="width:80%">
                                <a class="list-group-item">{{post.title}}</a>
                            </td>
                        </tr>
                    </table>

                </div>

            </td>
        </tr>
    </table>

</body>
</html>

<script src="~/AngularJSControllers/Posts.js"></script>