
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_LayoutMini.cshtml";
}

<style>
    table {
        width: 100%;
    }

    input {
        width: 95%;
        margin: 5px;
    }

    td {
        vertical-align: top;
    }
</style>

@using (Html.BeginForm("AdminMenu", "Admin", FormMethod.Post))
{

    <table style="margin-top:30px">
        <tr>
            <td style="width:20%">
                @Html.Partial("~/Views/Admin/_Menu.cshtml")
            </td>
            <td>
                <table>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Kaydet" style="width:150px;" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}