@model IEnumerable<BlogDAL.DAL.Posts>
@{
    ViewBag.Title = "Index";
}

<html ng-app="myIndexBlog">
<body ng-controller="IndexBlogController">



    @foreach (var item in Model)
    {
        <table>
            <tr>
                <td>
                    <h2 style="cursor:pointer" ng-click="GotoPost(@item.ID)">@item.title</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        @Html.Raw(item.content)
                    </p>
                </td>
            </tr>

        </table>

    }

</body>
</html>
<script src="~/AngularJSControllers/IndexBlog.js"></script>