@model IEnumerable<BlogDAL.DAL.Posts>
@{
    ViewBag.Title = "Index";
}

<html ng-app="myIndexBlog">
<body ng-controller="IndexBlogController">



    @foreach (var item in Model)
    {
        <table>
            <tr>
                <td>
                    <h2><a href="~/Blog/SinglePost/@item.ID">@item.title</a></h2>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        @Html.Raw(item.content)
                    </p>
                </td>
            </tr>
            <tr>
                <td>


                    @foreach (var label in item.Label)
                    {

                       <label class="label-info" style="font-size:15px;border-radius:3px">@label.Label</label> 

                    }
                </td>
            </tr>

        </table>

    }

</body>
</html>
<script src="~/AngularJSControllers/IndexBlog.js"></script>