@model List<BlogDAL.DAL.SocialContacts>
@{
    ViewBag.Title = "Index";
}

<div class="card-box" style="margin-top:15px;">
    <h2>Sosyal Ağ</h2>
</div>

<div class="row">
    @foreach (var item in Model)
            {
        <div class="col-md-4">
            <div class="card-box">

                @if (item.Image != null)
                {
                    string imageBase64Data = item.Image.ToString();
                    string imageDataURL = string.Format(imageBase64Data);
                    <img class="img_1" style="width:48px;height:48px" src=@imageDataURL>
                }


                <a href="@item.Address" target="_blank">@item.Platform</a>

            </div>
        </div>
    }
</div>
