@model List<BlogDAL.DAL.SocialContacts>
@{
    ViewBag.Title = "Index";
}

<h2>Sosyal Ağ</h2>

<center>

    <table>
        @foreach (var item in Model)
        {
            <tr align="center">

                <td>

                    @if (item.Image != null)
                    {
                        string imageBase64Data = item.Image.ToString();
                        string imageDataURL = string.Format(imageBase64Data);
                        <img class="img_1" style="width:48px;height:48px" src=@imageDataURL>
                    }

                </td>
                <td>
                    <a href="@item.Address" target="_blank">@item.Platform</a>
                </td>

            </tr>
        }
    </table>
</center>
